{
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "always",
  "printWidth": 200,
  "jsxSingleQuote": false,
  "quoteProps": "consistent",
  "singleQuote": false,
  "bracketSameLine": false
}