@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* I promise I tried my best to make every action visible */
	-webkit-tap-highlight-color: transparent;

	font-family: theme("fontFamily.sans");
}

:focus-visible {
	outline: solid theme("outlineColor.sky.500") theme("outlineWidth.2");
}

[data-tooltip] {
	--tooltip-background: theme("colors.slate.600");
	--tooltip-padding: theme("spacing.2") theme("spacing.3");
	--tooltip-text-color: white;
	--tooltip-fontsize: theme("fontSize.sm");
	--tooltip-radius: theme("borderRadius.DEFAULT");
}

.navbar-link[data-tooltip]::after,
.navbar-link[data-tooltip]::before {
	transition-duration: theme("transitionDuration.DEFAULT");
	transition-timing-function: theme("transitionTimingFunction.DEFAULT");
	z-index: theme("zIndex.20");
}

/* Offset the links to the right because */
/* it goes offscreen on mobile */
.navbar-link[data-tooltip]:hover::after,
.navbar-link[data-tooltip]:focus::after {
	content: attr(title);
	left: 0%;
	transform: none;
}

/* Hide the tooltip if the link is active */
/* so it doesn't stay on when touched on mobile */
.navbar-link[data-tooltip].active::after {
	content: "";
	padding: 0;
}
.navbar-link[data-tooltip].active::before {
	opacity: 0;
}

/* Hide the tooltip while it's not active to prevent */
/* displaying it when hovering the non visible tooltip */
[data-tooltip]:not(:hover)::after,
[data-tooltip]:not(:focus)::after {
	content: "";
	padding: 0;
}
[data-tooltip]:not(:hover)::before,
[data-tooltip]:not(:focus)::before {
	opacity: 0;
}

/* When the data-tooltip is hovered, force its style */
/* the body selector is here to make this higher priority */
body [data-tooltip]:hover::after,
body [data-tooltip]:focus::after {
	content: attr(title);
	padding: var(--tooltip-padding);
}
body [data-tooltip]:hover::before,
body [data-tooltip]:focus::before {
	opacity: 1;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

.code-tabs pre {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	@apply text-[#696c77] dark:text-slate-500;
}

.token.punctuation {
	@apply text-[#383a42] dark:text-[#abb2bf];
}

.token.selector,
.token.tag:not(.punctuation):not(.attr-name):not(.attr-value),
.token.variable,
.token.parameter,
.language-javascript .token.plain,
.language-js .token.plain,
.language-jsx .token.plain,
.language-typescript .token.plain,
.language-ts .token.plain,
.language-tsx .token.plain,
.token.literal-property .token.property-access,
.template-string.interpolation {
	@apply text-[#e45649] dark:text-[#e06c75];
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
	@apply text-[#986801] dark:text-[#d19a66];
}

.token.string,
.token.char,
.token.attr-value,
.token.inserted {
	@apply text-[#50a14f] dark:text-[#98c379];
}

.token.entity,
.token.url,
.language-css .token.string,
.token.operator,
.style .token.string,
.token.tag.attr-equals {
	@apply text-[#0184bc] dark:text-[#56b6c2];
}

.token.function {
	@apply text-[#4078f2] dark:text-[#61afef];
}

.token.constant,
.token.builtin,
.token.dom,
.token.known-class-name,
.token.class-name {
	@apply text-[#c18401] dark:text-[#e5c07b];
}

.token.regex,
.token.important,
.token.atrule,
.token.keyword,
.template-string.interpolation-punctuation {
	@apply text-[#a626a4] dark:text-[#c678dd];
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

pre {
	overflow-x: auto;
}

/**
 * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .code-highlight.
 */
.code-highlight {
	float: left; /* 1 */
	min-width: 100%; /* 2 */
}

.code-line {
	@apply text-[#383a42] dark:text-[#abb2bf];
	display: block;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: -16px;
	margin-right: -16px;
	border-left-width: 4px;
	border-left-color: rgba(31, 41, 55, 0); /* Set code block color */
}

.code-line.inserted {
	background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
	background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
	@apply bg-sky-500/20;
	margin-left: -16px;
	margin-right: -16px;
	border-left-width: 4px;
	border-left-color: theme("colors.sky.500"); /* Set highlight accent border color */
}

.line-number::before {
	width: 1rem;
	text-align: right;
	margin-right: 16px;
	margin-left: -8px;
	content: attr(line);
	@apply hidden md:inline-block text-[#696c77] dark:text-slate-500;
}

.token.entity {
	cursor: help;
}

.prose :not(pre) > code {
	@apply mx-0.5 rounded p-1 bg-sky-600/40 text-white dark:bg-slate-500/20 dark:text-slate-300;
	break-before: always;
}

.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
	content: "";
}

.mermaid:not([data-processed="true"]) {
	@apply bg-slate-500/20 rounded text-transparent animate-pulse;
}

.mermaid {
	@apply -mx-5 lg:-mx-12 xl:-mx-24;
}
