@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* I promise I tried my best to make every action visible */
  -webkit-tap-highlight-color: transparent;
}

:focus-visible {
  outline: solid theme("outlineColor.sky.500") theme("outlineWidth.2");
}

[data-tooltip] {
  --tooltip-background: theme("colors.slate.600");
  --tooltip-padding: theme("spacing.2") theme("spacing.3");
  --tooltip-text-color: white;
  --tooltip-fontsize: theme("fontSize.sm");
  --tooltip-radius: theme("borderRadius.DEFAULT");

  z-index: theme("zIndex.20");
}

.navbar-link[data-tooltip]::after,
.navbar-link[data-tooltip]::before {
  transition-duration: theme("transitionDuration.DEFAULT");
  transition-timing-function: theme("transitionTimingFunction.DEFAULT");
}

/* Offset the links to the right because */
/* it goes offscreen on mobile */
.navbar-link[data-tooltip]:hover::after,
.navbar-link[data-tooltip]:focus::after {
  content: attr(title);
  left: 0%;
  transform: none;
}

/* Hide the tooltip if the link is active */
/* so it doesn't stay on when touched on mobile */
.navbar-link[data-tooltip].active::after {
  content: "";
  padding: 0;
}
.navbar-link[data-tooltip].active::before {
  opacity: 0;
}

/* Hide the tooltip while it's not active to prevent */
/* displaying it when hovering the non visible tooltip */
[data-tooltip]:not(:hover)::after,
[data-tooltip]:not(:focus)::after {
  content: "";
  padding: 0;
}
[data-tooltip]:not(:hover)::before,
[data-tooltip]:not(:focus)::before {
  opacity: 0;
}

/* When the data-tooltip is hovered, force its style */
/* the body selector is here to make this higher priority */
body [data-tooltip]:hover::after,
body [data-tooltip]:focus::after {
  content: attr(title);
  padding: var(--tooltip-padding);
}
body [data-tooltip]:hover::before,
body [data-tooltip]:focus::before {
  opacity: 1;
}
